# Ignorer les fichiers compilés Python
__pycache__/
**/__pycache__/
*.py[cod]

# (Optionnel) Ignorer les environnements virtuels
venv/
.env/

# (Optionnel) Ignorer les fichiers système
.DS_Store
Thumbs.db
